<html>
<head>
    <title> Login </title>
</head>

<body>    
    <h1>Login here UwU</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    
    </form>
</body>



</html>
